<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/director.png}">
    <title>Interogare 02.03.a</title>
</head>
<body>
<div class="container">
    <h2>02.03.a - Detalii Filme dupa Gen</h2>
    <p>Ordonate crescator dupa an si descrescator dupa titlu</p>

    <form th:action="@{/executa-23a}" method="get">
        <input type="text" name="gen" placeholder="Introduceti genul (ex: drama)" required
               style="padding: 12px; width: 80%; border-radius: 10px; border: 1px solid #ffccd5; margin-bottom: 20px;">

        <button type="submit" class="btn-table" style="width: 100%;">Cauta Filme</button>
    </form>

    <br>
    <a th:href="@{/}" class="btn-table" style="background-color: #fce4ec; color: #d81b60;">Inapoi la Meniu</a>
</div>
</body>
</html>