<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>𝐅 𝐈 𝐋 𝐌 𝐄</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/director.png}">
</head>
<body>

<div class="container">
    <h1>𝐌𝐚𝐧𝐚𝐠𝐞𝐦𝐞𝐧𝐭 𝐈𝐧𝐭𝐞𝐫𝐨𝐠𝐚𝐫𝐢 𝐅𝐢𝐥𝐦𝐞</h1>
    <div class="student-info">
        𝐏𝐚𝐭𝐫𝐢𝐜𝐢𝐚-𝐌𝐢𝐫𝐚𝐛𝐞𝐥𝐚 𝐋𝐞𝐨𝐧𝐭𝐞 <br>
        <small>𝐒𝐔𝐁𝐈𝐄𝐂𝐓 𝟎𝟐</small>
    </div>

    <ul class="menu-list">
        <li class="menu-item"><a th:href="@{/form-23a}">𝟎𝟐.𝟎𝟑.𝐚 - 𝐅𝐢𝐥𝐦𝐞 𝐝𝐮𝐩𝐚 𝐆𝐞𝐧</a></li>
        <li class="menu-item"><a th:href="@{/form-23b}">𝟎𝟐.𝟎𝟑.𝐛 - 𝐂𝐚𝐮𝐭𝐚𝐫𝐞 𝐏𝐞𝐫𝐬𝐨𝐚𝐧𝐞 (𝐍𝐮𝐦𝐞/𝐄𝐦𝐚𝐢𝐥)</a></li>
        <li class="menu-item"><a th:href="@{/form-24a}">𝟎𝟐.𝟎𝟒.𝐚 - 𝐀𝐜𝐭𝐨𝐫 𝐬𝐢 𝐏𝐫𝐨𝐝𝐮𝐜𝐚𝐭𝐨𝐫 (𝐉𝐎𝐈𝐍)</a></li>
        <li class="menu-item"><a th:href="@{/rezultat-24b}">𝟎𝟐.𝟎𝟒.𝐛 - 𝐏𝐞𝐫𝐞𝐜𝐡𝐢 𝐀𝐜𝐭𝐨𝐫𝐢 𝐒𝐞𝐱 𝐃𝐢𝐟𝐞𝐫𝐢𝐭</a></li>
        <li class="menu-item"><a th:href="@{/rezultat-25a}">𝟎𝟐.𝟎𝟓.𝐚 - 𝐏𝐫𝐞𝐬𝐞𝐝𝐢𝐧𝐭𝐞 𝐂𝐚𝐬𝐭𝐢𝐠 𝐌𝐚𝐱𝐢𝐦</a></li>
        <li class="menu-item"><a th:href="@{/form-25b}">𝟎𝟐.𝟎𝟓.𝐛 - 𝐂𝐨𝐦𝐩𝐚𝐫𝐚𝐫𝐞 𝐃𝐮𝐫𝐚𝐭𝐚 𝐅𝐢𝐥𝐦𝐞</a></li>
        <li class="menu-item"><a th:href="@{/form-26a}">𝟎𝟐.𝟎𝟔.𝐚 - 𝐀𝐜𝐭𝐨𝐫𝐢 𝐢𝐧 𝐅𝐢𝐥𝐦𝐞 𝐝𝐞 𝐂𝐨𝐩𝐢𝐢</a></li>
        <li class="menu-item"><a th:href="@{/rezultat-26b}">𝟎𝟐.𝟎𝟔.𝐛 - 𝐒𝐭𝐚𝐭𝐢𝐬𝐭𝐢𝐜𝐢 𝐂𝐚𝐬𝐭𝐢𝐠𝐮𝐫𝐢</a></li>
    </ul>

    <div class="table-actions">
        <div class="horizontal-buttons">
            <a th:href="@{/tabel-film}" class="btn-table">𝐅𝐈𝐋𝐌</a>
            <a th:href="@{/tabel-distributie}" class="btn-table">𝐃𝐈𝐒𝐓𝐑𝐈𝐁𝐔𝐓𝐈𝐄</a>
            <a th:href="@{/tabel-persoana}" class="btn-table">𝐏𝐄𝐑𝐒𝐎𝐀𝐍𝐀</a>
            <a th:href="@{/tabel-studio}" class="btn-table">𝐒𝐓𝐔𝐃𝐈𝐎</a>
        </div>
    </div>

    <div class="footer">
        &copy; 𝟐𝟎𝟐𝟔 𝐂𝐎𝐋𝐎𝐂𝐕𝐈𝐔 𝐁𝐃 - 𝐋𝐞𝐨𝐧𝐭𝐞 𝐏𝐚𝐭𝐫𝐢𝐜𝐢𝐚-𝐌𝐢𝐫𝐚𝐛𝐞𝐥𝐚
    </div>
</div>

</body>
</html>